# See: http://releases.llvm.org/6.0.1/tools/clang/tools/extra/docs/clang-tidy/checks/list.html

Checks: "*,
         -cert-dcl03-c,-misc-static-assert,-hicpp-static-assert,
         -hicpp-signed-bitwise,
         -bugprone-integer-division,
         -llvm-header-guard"
